

#main-contact {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

form{
    text-align: center;
    width: 100%;
    max-width: 600px; /* Ajusta este valor según tu necesidad */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form > div {
    margin-bottom: 50px;
}

input, textarea{
    background-color: rgb(238, 144, 218);
    border-color: rgb(214, 10, 146);
}

.send-button{
        position: relative;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: rgb(238, 144, 218);;
        color: rgb(214, 10, 146);;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition:  background-color 0.3s ease; 
    }
    
    
    .send-button:hover {
        background-color: #b30095; 
    }


